[Desktop Entry]
Name=Area Forum
Exec=C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Autodesk\\\\Autodesk\\ FBX\\ Converter\\ x64\\ 2013\\\\Area\\ Forum.lnk
Type=Application
StartupNotify=true
Path=/var/home/warpededge/Downloads/.fbx/pfx/dosdevices/c:/Program Files/Autodesk/FBX/FBX Converter/2013.3/samples
Icon=D0B8_area.0
StartupWMClass=area.autodesk.com
