[Desktop Entry]
Name=Autodesk FBX Web
Exec=C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Autodesk\\\\Autodesk\\ FBX\\ Converter\\ x64\\ 2013\\\\Autodesk\\ FBX\\ Web.lnk
Type=Application
StartupNotify=true
Path=/var/home/warpededge/Downloads/.fbx/pfx/dosdevices/c:/Program Files/Autodesk/FBX/FBX Converter/2013.3/samples
Icon=536B_Autodesk.0
StartupWMClass=fbx
