[Desktop Entry]
Name=Help
Exec=C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Autodesk\\\\Autodesk\\ FBX\\ Converter\\ x64\\ 2013\\\\Help.lnk
Type=Application
StartupNotify=true
Path=/var/home/warpededge/Downloads/.fbx/pfx/dosdevices/c:/Program Files/Autodesk/FBX/FBX Converter/2013.3/samples
Icon=D15F_hh.0
StartupWMClass=index.html
