[Desktop Entry]
Name=readme
Exec=C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Autodesk\\\\Autodesk\\ FBX\\ Converter\\ x64\\ 2013\\\\readme.lnk
Type=Application
StartupNotify=true
Path=/var/home/warpededge/Downloads/.fbx/pfx/dosdevices/c:/Program Files/Autodesk/FBX/FBX Converter/2013.3/samples
Icon=692D_readme.0
StartupWMClass=readme.txt
