[Desktop Entry]
Name=Uninstall
Exec=C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Autodesk\\\\Autodesk\\ FBX\\ Converter\\ x64\\ 2013\\\\Uninstall.lnk
Type=Application
StartupNotify=true
Path=/var/home/warpededge/Downloads/.fbx/pfx/dosdevices/c:/Program Files/Autodesk/FBX/FBX Converter/2013.3/samples
Icon=77B6_Uninstall.0
StartupWMClass=uninstall.exe
